/** @format */

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}
.Wrapper-text {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.Wrapper-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Wrapper-image img {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
}
