/** @format */

.Wrapper {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.Wrapper_image {
  max-width: 100%;
  height: auto;
  margin-top: 2.3rem;
}
.Wrapper_image img {
  max-width: 100%;
  height: auto;
}
