.courses {
  width: 100vw;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  color: black;
}
.courses h2 > span {
  color: white;
  background-color: #e67716e7;
  padding: 0.5rem;
  border-radius: 15px 2px 7px 5px;
}
.courses h2 {
  letter-spacing: 0.2rem;
}
.courses > h3 {
  color: gray;
  letter-spacing: 0.2rem;
}
.Levels_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  /* width: 100vw; */
}
