.my-nav-component {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1200;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.041),
    0 6px 20px 0 rgba(0, 0, 0, 0.014);
  /* padding: 0px 3rem 0px 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.image {
  width: 80px;
  height: 80px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: rotation 4s infinite linear;
}
/* .image:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.image.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* @keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
.image img {
  position: relative;
  height: 100%;
  width: 100%;
}
.first-nav-ele {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-nav-ele > .dept-name > * span {
  font-size: 2rem;
}
.dept-name > * {
  font-size: 1.5rem;
}
.dept-name {
  position: absolute;
  left: 6rem;
}

.second-nav-ele ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.second-nav-ele ul li {
  display: flex;
}
.second-nav-ele ul li a {
  padding: 0.5rem;
  color: black;
  border-radius: 5px;
}
.second-nav-ele ul li a:hover {
  color: #29156e;
  border: 3px solid #e6771698;
}
.third-nav-ele {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.third-nav-ele .icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.third-nav-ele .icons i {
  font-size: 1.2rem;
}
.third-nav-ele .icons i:hover {
  color: #e6771698;
}
