/** @format */

.Footer {
  padding-top: 2rem;
  min-height: 50vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(0, 0, 0, 0.945);
}
.Footer > * span {
  width: fit-content;
  border-bottom: 2px solid #e6771698;
  margin-bottom: 3rem;
  font-size: 0.8rem;
}
.Footer > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links ul li a {
  text-decoration: none;
  color: white;
}
.links ul li a:hover {
  color: #e67716e7;
  text-decoration: underline;
}
.links ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-left: -2rem;
}
.footer-child-three .socials > * {
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: space-around;
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}
.socials span a {
  color: white;
}
.socials span a:hover {
  color: #e67716e7;
}
.menu-list ul li a {
  color: white;
  cursor: pointer;
}
.menu-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  list-style: none;
  text-align: left;
}
.menu-list ul li a:hover {
  color: #e67716e7;
}
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
}
.copyright :nth-child(1) {
  margin-bottom: -0.7rem;
}
.copyright a {
  color: #e67716e7;
}

.copyright a:hover {
  color: #e67716e7;
  opacity: 0.7;
}

@media screen and (max-width: 900px) {
  .copyright {
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
}
